<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.mapper.ParamsDetailsMapper">

    <select id="getAll" resultType="com.pn.domain.po.ParamsDetails" parameterType="long">
        select * from params_details where interfaceId = #{id}
    </select>
</mapper>
