<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.mapper.UserMapper">
    <insert id="register">
        insert into user (email,userPassword,publickey,privatekey,sign)
        values (#{email},#{password},#{publicKey},#{privateKey},#{sign})
    </insert>
    <update id="setVip" parameterType="java.lang.String">
        update user set userRole = 'vip' where email = #{email}
    </update>

    <select id="getUserByEmail" resultType="com.pn.domain.vo.userLoginVo" parameterType="java.lang.String">
        select * from user where email = #{email}
    </select>
    <select id="findUserByPublicKey" resultType="com.pn.domain.po.User">
        select * from user where publickey = #{publicKey}
    </select>
</mapper>
